<form [formGroup]="managePermissionsForm" (submit)="onUpdatePermissionsClick()">
  <h1 class="mb-2">Manage project permission, <b>{{ data.projectTitle }}</b></h1>

  <div class="lz_user_information_wrapper">
    <div class="lz_user_avatar">
      <img *ngIf="data.userAvatar" src="{{ uploadsEndpoint }}/{{ data.userAvatar }}" alt="">
    </div>
    <div class="lz_user_information">
      <div class="lz_user_name" *ngIf="data.userName">{{ data.userName }}</div>
      <div class="lz_user_email" *ngIf="data.targetEmail">{{ data.targetEmail }}</div>
      <div class="lz_user_role">{{ data.userRole.toLocaleLowerCase() }}</div>
    </div>
  </div>

  <app-available-languages-list #languagesList
                                [userProjectLocales]="data.userProjectLocales"
                                [userRole]="data.userRole"
                                (listChangeEventEmit)="onListChangeEventEmit($event)"
  ></app-available-languages-list>

  <br><br>
  <div class="flex flex-row justify-between">
    <button type="button" (click)="onRemoveUserFromProjectClick()" class="lc-btn-standard">Remove from project</button>
    <div class="flex flex-row justify-end">
      <button type="button" mat-dialog-close class="lc-btn-standard">Cancel</button>
      <button type="submit" (click)="onUpdatePermissionsClick()" [disabled]="!managePermissionsForm.valid"
              class="lc-btn-standard ml-2">Save
      </button>
    </div>
  </div>
</form>
