<form [formGroup]="managePermissionsForm" (submit)="onUpdatePermissionsClick()">
  <h1 mat-dialog-title>Manage project permission, <b>{{ data.projectTitle }}</b></h1>

  <div class="lz_user_information_wrapper">
    <div class="lz_user_avatar">
      <img *ngIf="data.userAvatar" src="{{ uploadsEndpoint }}/{{ data.userAvatar }}" alt="">
    </div>
    <div class="lz_user_information">
      <div class="lz_user_name" *ngIf="data.userName">{{ data.userName }}</div>
      <div class="lz_user_email" *ngIf="data.targetEmail">{{ data.targetEmail }}</div>
      <div class="lz_user_role">{{ data.userRole.toLocaleLowerCase() }}</div>
    </div>
  </div>

  <app-available-languages-list #languagesList
                                [userProjectLocales]="data.userProjectLocales"
                                [userRole]="data.userRole"
                                (listChangeEventEmit)="onListChangeEventEmit($event)"
  ></app-available-languages-list>

  <br><br>
  <div class="lz_dialog_controls" fxLayout fxLayoutAlign="space-between center">
    <div>
      <button type="button" (click)="onRemoveUserFromProjectClick()">Remove from project</button>
    </div>
    <div>
      <button class="lz_button_light" mat-dialog-close style="margin-right: 7px">Cancel</button>
      <button type="button" (click)="onUpdatePermissionsClick()" [disabled]="!managePermissionsForm.valid">Save</button>
    </div>
  </div>
</form>
