.lz_user_information_wrapper {
  display: flex;
  .lz_user_avatar {
    border: 1px solid #ececec;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }

  .lz_user_information {
    padding-left: 10px;
    .lz_user_name {
      font-size: 17px;
      margin-bottom: 3px;
    }
    .lz_user_email {
      font-size: 14px;
    }
    .lz_user_role {
      font-size: 14px;
      margin-top: 5px;
    }
  }
}

.lz_available_locale_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .lz_available_locale {
    position: relative;
    flex: 1 1 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 15px 2px 0;
    .lz_locale_flag {
      font-size: 13px;
      padding-left: 17px;
    }
    .lz_locale_language {
      font-size: 11px;
      font-weight: bold;
      .lz_locale_code {
        margin-left: 17px;
        font-size: 9px;
        background-color: #27ae60;
        color: #fff;
        padding: 0 3px 0 3px;
        border-radius: 2px;
        text-transform: uppercase;
      }
    }
    .lz_locale_country {
      font-size: 11px;
      margin-left: 3px;
    }
    input[type="checkbox"] {
      position: absolute;
      top: 6px;
      margin-right: 3px;
    }
  }
}
