.lz_user_information_wrapper {
  display: flex;
  .lz_user_avatar {
    border: 1px solid #ececec;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }

  .lz_user_information {
    padding-left: 10px;
    .lz_user_name {
      font-size: 17px;
      margin-bottom: 3px;
    }
    .lz_user_email {
      font-size: 14px;
    }
    .lz_user_role {
      font-size: 14px;
      margin-top: 5px;
    }
  }
}
