<mat-card>
  <h2>Log In</h2>
  <div>Don't have account yet? <a href="javascript:;" routerLink="/auth/register">Register</a></div>
  <form [formGroup]="loginForm" (submit)="submitForm()">
    <div>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" autocomplete="off">
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('pattern')">
          Email is not valid.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password" autocomplete="off">
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>
    </div>

    <!--
    <div>
      <mat-checkbox>Keep me logged in</mat-checkbox>
    </div>
    <br>
    -->

    <div>
      <button type="submit" mat-button mat-flat-button
              (click)="submitForm()" [disabled]="!loginForm.valid || isLoading">
        <app-loading-spinner-for-button
          [isLoading]="isLoading" [text]="'LOG IN'"></app-loading-spinner-for-button>
      </button>
    </div>

    <br>
    <div>
      <a href="javascript:;" routerLink="/auth/forgot-password">Forgot your username or password?</a>
    </div>
  </form>
</mat-card>
