<ng-container *ngIf="(projectData$ | async) && (!(projectLoading$ | async) || (projectUpdating$ | async))">
  <div class="lz_project_sidebar_wrapper">
    <div class="lz_section_title">Locales</div>
    <div class="lz_locales_list">
      <ng-container *ngFor="let locale of localesData$ | async">
        <a href="javascript:;"
           (click)="onLocaleClick(locale.keyCode)"
           [ngClass]="{'isActive': activeLocale === locale.keyCode}">
          <span class="inner_wrapper">

            <span class="flag">{{ locale.emoji }}</span>
            <span class="code">{{ locale.keyCode.toUpperCase() }}</span>
            <span class="locale_full_name" *ngIf="locale.emoji">
              <span class="name1">{{ locale.lang }}</span>
              <span class="name2" title="{{ locale.country }}">{{ locale.country }}</span>
            </span>
            <span class="locale_full_name no_flag" *ngIf="!locale.emoji">{{ locale.name }}</span>

          </span>

          <span class="lz_locale_isdefault" *ngIf="locale.keyCode === defaultLocale">default</span>

          <span class="lz_locale_is_readonly" *ngIf="!locale.editable">readonly</span>
        </a>
      </ng-container>
    </div>
    <button class="lc-btn-standard my-2"
            *ngIf="(projectData$ | async).role === 'ADMINISTRATOR'"
            (click)="addLocale()">Add locale
    </button>

    <div class="lz_users_list" *ngIf="(this.projectData$ | async)">
      <div class="lz_section_title">Project team</div>
      <div fxLayout fxLayoutAlign="space-between stretch">
        <div fxLayoutAlign="start center">
              <span class="lz_list_u_avatar">
                 <img *ngIf="userData && userData.avatar" src="{{ uploadsEndpoint }}/{{ userData.avatar }}" alt="">
              </span>
          <span class="lz_list_u_name">You</span>,
          <span class="lz_list_u_role"
                style="margin-left: 3px">{{ (this.projectData$ | async).role.toLocaleLowerCase() }}</span>
        </div>
      </div>

      <ng-container *ngIf="(this.sharedUsers$ | async) && (this.sharedUsers$ | async).length">

        <ng-container *ngFor="let user of (this.sharedUsers$ | async)">
          <div fxLayout fxLayoutAlign="space-between stretch">
            <div fxLayoutAlign="start center">
            <span class="lz_list_u_avatar">
               <img *ngIf="user.avatar" src="{{ uploadsEndpoint }}/{{ user.avatar }}" alt="">
            </span>
              <span class="lz_list_u_name">{{ user.name ? user.name : user.email }}</span>,&nbsp;
              <span class="lz_list_u_role">{{ user.role.toLocaleLowerCase() }}</span>
            </div>

            <div class="lz_list_item_controls" *ngIf="(this.projectData$ | async).role === 'ADMINISTRATOR'" fxFlex
                 fxLayoutAlign="end center">
              <a href="javascript:;" class="lz_settings" style="margin-right: 0" (click)="onManageUSerClick(user)">
                <svg class="lz_settings_svg">
                  <use xlink:href="#settings"></use>
                </svg>
              </a>
            </div>
          </div>
        </ng-container>

      </ng-container>
    </div>

    <div class="lz_invite_user_to_project"
         *ngIf="(this.projectData$ | async) && (this.projectData$ | async).role === 'ADMINISTRATOR'">
      <br>
      <div class="lz_section_title">Invite user to project</div>
      <button (click)="onInviteUserClick()" class="lc-btn-standard my-2">Invite user</button>
    </div>

    <br>
    <div>
      <div class="lz_section_title">Tags Manager</div>
      <button (click)="manageTagsClick()" class="lc-btn-standard my-2">Manage tags</button>
    </div>
  </div>
</ng-container>
