<div class="lz_project_sidebar_wrapper">
  <div class="lz_section_title">Locales</div>
  <ng-container *ngIf="projectData">
    <div class="lz_locales_list">
<!--      <a href="javascript:;" *ngIf="projectData.role === 'administrator'"-->
<!--         (click)="onLocaleClick(defaultLocale)"-->
<!--         [ngClass]="{'isActive': activeLocale === defaultLocale}">-->
<!--        <span class="flag"></span>-->
<!--        {{ defaultLocale.toUpperCase() }}-->
<!--        <span class="lz_locale_isdefault"-->
<!--              *ngIf="activeLocale === defaultLocale">(default)</span>-->
<!--      </a>-->
      <a href="javascript:;" *ngFor="let locale of projectLocales"
         (click)="onLocaleClick(locale)"
         [ngClass]="{'isActive': activeLocale === locale}">
        <span class="flag"></span>
        {{ locale.toUpperCase() }}
        <span class="lz_locale_isdefault"
          *ngIf="locale === defaultLocale">(default)</span>
      </a>
    </div>
    <button style="margin-top: 5px"
            *ngIf="projectData.role === 'administrator'"
            (click)="addLocale()"
    >Add locale</button>
  </ng-container>

  <div class="lz_users_list" *ngIf="projectData">
    <div class="lz_section_title">Project team</div>
    <div fxLayout fxLayoutAlign="space-between stretch">
      <div fxLayoutAlign="start center">
              <span class="lz_list_u_avatar">
                 <img *ngIf="userData && userData.avatar" src="{{ uploadsEndpoint }}/{{ userData.avatar }}" alt="">
              </span>
        <span class="lz_list_u_name">You</span>,&nbsp;
        <span class="lz_list_u_role">{{ projectData.role }}</span>
      </div>
    </div>

    <ng-container *ngIf="projectData.sharedUsers && projectData.sharedUsers.length">

      <ng-container *ngFor="let user of projectData.sharedUsers">
        <div fxLayout fxLayoutAlign="space-between stretch">
          <div fxLayoutAlign="start center">
            <span class="lz_list_u_avatar">
               <img *ngIf="user.avatar" src="{{ uploadsEndpoint }}/{{ user.avatar }}" alt="">
            </span>
            <span class="lz_list_u_name">{{ user.name ? user.name : user.email }}</span>,&nbsp;
            <span class="lz_list_u_role">{{ user.role }}</span>
          </div>

          <div class="lz_list_item_controls" *ngIf="projectData.role === 'administrator'" fxFlex
               fxLayoutAlign="end center">
            <a href="javascript:;" class="lz_settings" style="margin-right: 0" (click)="onManageUSerClick(user)">
              <svg class="lz_settings_svg">
                <use xlink:href="#settings"></use>
              </svg>
            </a>
          </div>
        </div>
      </ng-container>

    </ng-container>
  </div>

  <div class="lz_invite_user_to_project" *ngIf="projectData && projectData.role === 'administrator'">
    <br>
    <div class="lz_section_title">Invite user to project</div>
    <button style="margin-top: 10px" (click)="onInviteUserClick()">Invite user</button>
  </div>
</div>
