<div *ngIf="userData" class="lz_account_settings_wrapper lz_card container">
  <h1 class="mb-2">My profile</h1>

  <div fxLayout fxLayout.xs="column">
  <div class="lz_l">
    <app-image-uploader
      [userId]="userData.id"
      [uuid]="userData.uuid"
      (selectFileInput)="selectFileInputEmitted($event)"
    ></app-image-uploader>
    <div class="lz_avatar_wrapper" (click)="fileInput.nativeElement.click()">
      <img *ngIf="userData.avatar" src="{{ uploadsEndpoint }}/{{ avatar || userData.avatar }}" alt="">
    </div>
  </div>

  <div class="lz_r">
    <form [formGroup]="accountSettingsForm" (keydown)="onFormChange()"
          (submit)="onFormSave()">

      <div class="lc-form-control">
        <label for="s_account_name" class="lc-form-control-label">
          <span class="mr-1">*</span>
          My Name
        </label>
        <input type="text" id="s_account_name" formControlName="name" autocomplete="off" #nameFieldRef class="lc-input">
        <div class="lz_error_message" *ngIf="(nameField.dirty || nameField.touched) && nameField.hasError('required')">
          Name name is required.
        </div>
      </div>

      <div class="lc-form-control">
        <label class="lc-form-control-label">My Email</label>
        <input type="text" formControlName="email" disabled class="lc-input">
      </div>


      <div class="lc-form-control">
        <label class="lc-form-control-label">My Password</label>
        <input type="text" disabled value="**********" class="lc-input">
      </div>

      <div class="flex flex-row justify-end">
        <button type="submit" [disabled]="!accountSettingsForm.valid || !formChanged" class="lc-btn-standard">Save</button>
      </div>
    </form>
  </div>
  </div>
</div>
