<div *ngIf="userData" class="lz_account_settings_wrapper lz_card container">
  <h2 class="lz_h_bordered">My profile</h2>

  <div fxLayout fxLayout.xs="column">
  <div class="lz_l">
    <app-image-uploader
      [userId]="userData.id"
      [uuid]="userData.uuid"
      (avatarUpdated)="onAvatarUpdated($event)" (selectFileInput)="selectFileInputEmitted($event)"
    ></app-image-uploader>
    <div class="lz_avatar_wrapper" (click)="fileInput.nativeElement.click()">
      <img *ngIf="userData.avatar" src="{{ uploadsEndpoint }}/{{ userData.avatar }}" alt="">
    </div>
  </div>

  <div class="lz_r">
    <form [formGroup]="accountSettingsForm" (keydown)="onFormChange()"
          (submit)="onFormSave()">

      <div class="lz_form_control">
        <div fxLayout>
          <label for="s_account_name">My Name:</label>
          <input type="text" id="s_account_name" formControlName="name" autocomplete="off" #nameFieldRef>
        </div>
        <div class="lz_error_message" *ngIf="(nameField.dirty || nameField.touched) && nameField.hasError('required')">
          Name name is required.
        </div>
      </div>

      <div class="lz_form_control">
        <div fxLayout>
          <label>My Email:</label>
          <input type="text" formControlName="email">
          <button type="button" class="change_email">Change</button>
        </div>
      </div>


      <div class="lz_form_control">
        <div fxLayout>
          <label>My Password:</label>
          <input type="text" disabled value="**********">
          <button type="button" class="change_password">Change</button>
        </div>
      </div>

      <br>
      <div class="lz_form_control">
        <label></label>
        <button type="submit" [disabled]="!accountSettingsForm.valid || !formChanged">SAVE</button>
      </div>
    </form>
  </div>
  </div>
</div>
