<div fxLayout fxLayoutAlign="space-between center">
  <app-projects-lists-switcher (projectsListToggleEvent)="onProjectsListToggleEvent($event)"
                               [projectsAllCount]="projectsAllCount"
                               [yourProjectsCount]="yourProjectsCount"
                               [sharedProjectsCount]="sharedProjectsCount"
  ></app-projects-lists-switcher>

  <div fxLayout fxLayoutAlign="space-between center">
    <app-filter (notifyFilter)="onNotifyFilter($event)"
                [placeholder]="'Filter by title, description...'"
                [cssClass]="'lz_projects_input_filter'"
    ></app-filter>

    <app-projects-filter-select
      (sortKeySelected)="onSortKeySelected($event)"
    ></app-projects-filter-select>
  </div>
</div>
