<form [formGroup]="tagsManagerForm">
  <div mat-dialog-title *ngIf="dialogMode !== 'tags-list'">
    <button (click)="onBackClick()" style="margin-right: 10px"><</button>
    <span *ngIf="dialogMode === 'add-tag'">Add new Tag</span>
    <span *ngIf="dialogMode === 'edit-tag'">Edit Tag</span>
    <span *ngIf="dialogMode === 'remove-tag'">Remove Tag</span>
  </div>

  <ng-container *ngIf="dialogMode === 'tags-list'">
    <app-tags-manager-dialog-tags-list
      [translationTags]="data.translationTags$ | async"
      [projectAvailableTags]="projectAvailableTags$ | async"
      (editTagClickEmit)="editTagClickEvent($event)"
      (selectedTagsEmit)="selectedTagsEvent($event)"
    ></app-tags-manager-dialog-tags-list>

    <div class="flex flex-row justify-between mt-2">
      <button type="button" (click)="onAddNewTagClick()" class="lc-btn-standard">Add new tag</button>
      <div class="flex flex-row justify-end">
        <button type="button" mat-dialog-close class="lc-btn-standard">Cancel</button>
        <button type="submit" (click)="onSaveSelectedTags()" mat-dialog-close class="lc-btn-standard ml-2">Okay</button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="dialogMode === 'add-tag'">
    <app-tags-manager-add-edit-tag [projectUuid]="projectUuid"
                                   [tagDataToEdit]="null"
    ></app-tags-manager-add-edit-tag>
  </ng-container>

  <ng-container *ngIf="dialogMode === 'edit-tag'">
    <app-tags-manager-add-edit-tag [projectUuid]="projectUuid"
                                   [tagDataToEdit]="selectedTagData"
                                   (removeTagClickEmit)="removeTagClickEmitted()"
    ></app-tags-manager-add-edit-tag>
  </ng-container>

  <ng-container *ngIf="dialogMode === 'remove-tag'">
    <app-tags-manager-remove-tag [projectUuid]="projectUuid"
                                 [tagUuid]="selectedTagData.uuid"
    ></app-tags-manager-remove-tag>
  </ng-container>
</form>
