<ng-container *ngLet="userData$ | async as userData">
  <ng-container *ngLet="avatar$ | async as avatar">
<!--    <button class="lz_header_avatar"-->
<!--            #menuTrigger-->
<!--            (menuOpened)="menuTrigger.disabled = true"-->
<!--            (menuClosed)="menuTrigger.disabled = false"-->
<!--            [matMenuTriggerFor]="menu">-->
<!--      <img *ngIf="avatar" src="{{ uploadsEndpoint }}/{{ avatar }}" alt="">-->
<!--    </button>-->

<!--    <mat-menu #menu="matMenu" [overlapTrigger]="false">-->
<!--      <div class="lz_menu_category_top" (click)="$event.stopPropagation();" fxLayout>-->
<!--        <div class="lz_menu_avatar_wrapper">-->
<!--          <img *ngIf="avatar" src="{{ uploadsEndpoint }}/{{ avatar }}" alt="">-->
<!--        </div>-->
<!--        <div class="lz_menu_user_name">{{ userData.name }}</div>-->
<!--      </div>-->

<!--      <a mat-menu-item routerLink="/account">-->
<!--        <span>Account settings</span>-->
<!--      </a>-->
<!--      <div (click)="$event.stopPropagation();" class="lz_menu_category" fxLayout fxLayoutAlign="space-between center">-->
<!--        <div>Dark mode</div>-->
<!--        <div>-->
<!--          <mat-slide-toggle-->
<!--            [color]="'accent'">-->
<!--          </mat-slide-toggle>-->
<!--        </div>-->
<!--      </div>-->

<!--      <a mat-menu-item (click)="onLogOutClick()">-->
<!--        <span>Log Out</span>-->
<!--      </a>-->
<!--    </mat-menu>-->

    <div class="ml-3 relative">
      <div>
        <button (click)="openMenuClick()"
                appClickOutside (clickOutsideEmitter)="onClickedOutside()"
                class="transition duration-100 ease-in-out h-8 w-8 rounded-full
                    bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                id="user-menu" aria-haspopup="true">
          <span class="sr-only">Open user menu</span>
          <img *ngIf="avatar" class="h-8 w-8 rounded-full" src="{{ uploadsEndpoint }}/{{ avatar }}" alt="Avatar">
        </button>
      </div>

      <div *ngIf="menuOpened"
           class="animate-growDown z-10
               origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5"
           role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
        <a routerLink="/account" class="flex flex-row justify-start items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 mr-1">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
          </svg>
          Your Profile
        </a>
        <a href="javascript:;" (click)="onLogOutClick()" class="flex flex-row justify-start items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1">
            <path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd" />
          </svg>
          Sign out
        </a>
      </div>
    </div>
  </ng-container>
</ng-container>
