* {
  font-family: 'Noto Sans', Roboto, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

h1 {}
h2 {
  margin-top: 0;
  font-size: 21px;
  color: #72727d;
}
h3 {}
h4 {}
h5 {}

body {
  //background-color: #121116;
}

button {
  border: 1px solid #72727d;
  padding: 8px 15px;
  font-size: 13px;
  border-radius: 3px;
  color: #72727d;
  cursor: pointer;
  &:hover:not([disabled]) {
    border: 1px solid;
    color: #000000;
  }
  &.lz_header_avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
  &[disabled] {
    cursor: default;
    background-color: #efefef;
    color: #a2a2a2;
    border: 1px solid #a2a2a2;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.lz_h_bordered {
  border-bottom: 1px solid #dedee3;
  padding-bottom: 7px;
}

.lz_form_control {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  label {
    padding-top: 9px;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    min-width: 115px;
    text-align: right;
    padding-right: 10px;
  }
  input {
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #828282;
    border-radius: 3px;
    font-size: 13px;
    padding: 3px 5px;
    color: #828282;
    width: 100%;
    &:focus:not([disabled]), &:hover:not([disabled]) {
      border: 1px solid #000000;
      color: #000000;
    }
    &[disabled] {
      background-color: #efefef;
    }
  }

  .lz_error_message {
    color: #e74c3c;
    font-size: 11px;
    padding-left: 115px;
    padding-top: 2px;
  }
}

.lz_list {
  .lz_list_item:not(:last-child) {
    border-bottom: 1px solid lightgrey;
  }
}

a {
  color: #5c5c5c;
  font-size: 14px;
}
