<form [formGroup]="addTagForm">
  <div mat-dialog-content>
    <div class="lz_form_control" fxLayout>
      <label for="s_field_label">Tag name:</label>
      <input type="text" id="s_field_label" formControlName="tagName" autocomplete="off" placeholder="" appAutofocus>
    </div>

    <div class="lz_section_title">Colors:</div>
    <app-tags-manager-dialog-colors-palette #colorsPalette
                                            [selectedTagColor]="tagData.color"
    ></app-tags-manager-dialog-colors-palette>
  </div>
  <div mat-dialog-actions class="flex-space-between">
    <button *ngIf="tagDataToEdit" (click)="onRemoveTagClick()" class="lz_button_warn">Remove</button>
    <div *ngIf="!tagDataToEdit"></div>
    <div>
      <button mat-dialog-close>Close</button>
      <button *ngIf="!tagDataToEdit"
              (click)="onSaveNewTagClick()">Add</button>
      <button *ngIf="tagDataToEdit"
              (click)="onUpdateTagClick()">Update</button>
    </div>
  </div>
</form>
