<form [formGroup]="userSettingsForm" (submit)="onUserSettingsSave()">
  <div>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" autocomplete="off">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" autocomplete="off">
      <mat-error *ngIf="userSettingsForm.controls['email'].hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="userSettingsForm.controls['email'].hasError('emailExists')">
        Email already exists.
      </mat-error>
      <mat-hint>You will be redirected to login again after changing email.</mat-hint>
    </mat-form-field>
  </div>

  <button [disabled]="!userSettingsForm.valid">Save</button>
</form>
