<form [formGroup]="translateForm" (submit)="onSaveTranslation()">
  <div *ngIf="translationUpdating$ | async">updating...</div>
  <div style="border: 1px solid">

    <div>translation in <b>{{ activeLocaleCountryName }}</b></div>
    <select #t formControlName="editInLanguage" (ngModelChange)="onLanguageEditChange(t.value)">
      <ng-container *ngFor="let item of (localesData$ | async)">
        <option [selected]="localeIndex"
                [ngValue]="item.translation"
                [attr.data-test]="item.translation"
                [value]="item.code"
                [innerHtml]="item.code"></option>
      </ng-container>
    </select>

    <br>
    <textarea formControlName="translation" name="" id="" cols="30" rows="10"></textarea>

    <br>
    <button type="submit" [disabled]="!(textareaEnabled$ | async)">Save</button>
  </div>
</form>
