<form [formGroup]="translateForm"
     (submit)="onSaveTranslation()" class="lz_editor_container">
  <div *ngIf="translationUpdating$ | async">updating...</div>
  <div style="border: 1px solid">

    <select #t formControlName="editInLanguage" (ngModelChange)="onLanguageEditChange(t.value)">
      <ng-container *ngFor="let item of (localesData$ | async)">
        <option [selected]="localeIndex"
                [ngValue]="item.translation"
                [attr.data-test]="item.translation"
                [value]="item.code"
                [innerHtml]="item.flag + item.name"></option>
      </ng-container>
    </select>

    <br>
    <div class="lz_editor_textarea_wrapper">
      <textarea formControlName="translation"></textarea>
    </div>

    <br>
    <button type="submit" [disabled]="!(textareaEnabled$ | async)">Save</button>
  </div>
</form>
