.lz_editor_container {
  cursor: default;
  .lz_editor_textarea_wrapper {
    textarea {
      resize: vertical;
      min-height: 120px;
      height: 120px;
      width: 100%;
      padding: 2px 4px;
      &[disabled] {
        background-color: #d6d6d6;
      }
    }
  }
}
