<form [formGroup]="translateForm"
     (submit)="onSaveTranslation()" class="lz_editor_container">
  <ng-select #tt appearance="outline"
             labelForId="default_locale"
             [searchable]="false"
             [clearable]="false"
             [dropdownPosition]="'bottom'"
             (ngModelChange)="onLanguageEditChange(this.translateForm.controls['editInLanguage'].value)"
             formControlName="editInLanguage">
    <ng-option *ngFor="let locale of (localesData$ | async)"
               [value]="locale.keyCode">
      <span *ngIf="locale.emoji">{{ locale.emoji }} {{ locale.lang }}, {{ locale.country }}</span>
      <span *ngIf="!locale.emoji">{{ locale.name }}</span>
    </ng-option>
  </ng-select>

  <br>
  <div class="lz_editor_textarea_wrapper">
    <textarea formControlName="translation"></textarea>
  </div>

  <br>
  <button type="submit" [disabled]="!(textareaEnabled$ | async)">Save</button>
</form>
