<div class="w-full bg-gray-800 px-2 py-2 mb-3 text-xs rounded">
  <ng-container [ngSwitch]="assetType">
    <pre *ngSwitchCase="'key_value_pairs'" class="text-xs text-white" [innerHTML]="dataPreview"></pre>
    <pre *ngSwitchCase="'multi_language_nesting'" class="text-xs text-white" [innerHTML]="dataPreview"></pre>
    <pre *ngSwitchCase="'php_array'" class="text-xs text-white" [innerHTML]="dataPreview"></pre>
    <pre *ngSwitchCase="'php_lang_array'" class="text-xs text-white" [innerHTML]="dataPreview"></pre>
    <pre *ngSwitchCase="'php_constant_definitions'" class="text-xs text-white" [innerHTML]="dataPreview"></pre>
  </ng-container>
</div>
