<div class="relative flex {{ selectWidthClass_ }}">
  <button type="button" (click)="openSelectClick()" appClickOutside (clickOutsideEmitter)="onClickedOutside()"
          class="lc-select"
          id="options-menu" aria-haspopup="true" aria-expanded="true">
    <span *ngIf="!currentHtmlTemplate">{{ currentTextValue }}</span>
    <span *ngIf="currentHtmlTemplate" [innerHTML]="currentHtmlTemplate"></span>
    <!-- Heroicon: chevron-down -->
    <svg *ngIf="!selectIsOpened" class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
         fill="currentColor"
         aria-hidden="true">
      <path fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"/>
    </svg>

    <!-- Heroicon: chevron-up -->
    <svg *ngIf="selectIsOpened" class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
         fill="currentColor">
      <path fill-rule="evenodd"
            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
            clip-rule="evenodd"/>
    </svg>
  </button>

  <input type="hidden" [(ngModel)]="selectedOption">

  <div *ngIf="selectIsOpened && selectData.length"
       class="animate-growDown origin-top-right absolute right-0 mt-10 {{ dropdownWidthClass_ }} rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10">
    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
      <a *ngFor="let menuItem of selectData" href="javascript:;" (click)="onOptionSelected(menuItem.value)"
         [ngClass]="{ 'bg-gray-200': selectedOption === menuItem.value }"
         class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
        <span *ngIf="menuItem.htmlTemplate" [innerHTML]="menuItem.htmlTemplate"></span>
        <span *ngIf="!menuItem.htmlTemplate">{{ menuItem.text }}</span>
      </a>
    </div>
  </div>
</div>
