<div [formGroup]="languagesForm">
  <h4>Which project languages can this user translate?</h4>
  <div>
    <label for="s_check_all" class="lz_check_all">
      <input type="checkbox" id="s_check_all"
             #checkAll
             [formControlName]="'checkAll'"
             (change)="onCheckAllCheck($event.target['checked'])">
      Check all
    </label>
  </div>
  <div class="lz_available_locale_wrapper">
    <ng-container *ngFor="let lang of languagesForm.get('availableTranslationLocales')['controls']; let i = index">
      <label class="lz_available_locale"
             formArrayName="availableTranslationLocales">
        <input type="checkbox"
               [checked]="userProjectLocales[i].checked"
               [formControlName]="i"
               (change)="onCheckboxChange(userProjectLocales[i], languagesForm.value.availableTranslationLocales[i])"
        />
        <span class="lz_locale_flag" *ngIf="userProjectLocales[i].flag">{{ userProjectLocales[i].flag }}</span>
        <span class="lz_locale_language" *ngIf="userProjectLocales[i].name1">{{ userProjectLocales[i].name1 }}</span>
        <span class="lz_locale_country" *ngIf="userProjectLocales[i].name2" title="{{ userProjectLocales[i].name2 }}">{{ userProjectLocales[i].name2 }}</span>
        <span class="lz_locale_language" *ngIf="!userProjectLocales[i].flag">
            <span class="lz_locale_code">{{ userProjectLocales[i].code }}</span>
          {{ userProjectLocales[i].name }}
          </span>
      </label>
    </ng-container>
  </div>

  <br>
  <div class="lz_section_project_role lz_form_control lz_control_check">
    <div fxLayout>
      <label class="lz_section_label" style="padding-top: 0">Project role:</label>
      <div class="lz_section_group lz_group_col">
        <div *ngFor="let userRole of userRoles; let i = index" class="lz_section_variant">
          <input type="radio" id="user_role_{{ i }}" value="{{ userRole.value }}"
                 [checked]="userRole.active"
                 (change)="onUserModelChange(userRole)">
          <label for="user_role_{{ i }}">
            {{ userRole.name }}
            <span class="lz_section_description"> - {{ userRole.description }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
