<div [formGroup]="languagesForm">
  <div class="text-sm my-3" *ngIf="!isOnlyLanguagesList">Which project languages can this user translate?</div>
  <div>
    <label for="s_check_all" class="text-xs font-bold mr-2">
      <input type="checkbox" id="s_check_all" class="rounded text-indigo-500"
             #checkAll
             [formControlName]="'checkAll'"
             (change)="onCheckAllCheck($event.target['checked'])">
      Check all
    </label>
  </div>
  <div class="lz_available_locale_wrapper">
    <ng-container
      *ngFor="let formControl of languagesForm.get('availableTranslationLocales')['controls']; let i = index">
      <label class="lz_available_locale"
             formArrayName="availableTranslationLocales">
        <input type="checkbox" class="rounded text-indigo-500"
               [checked]="userProjectLocales[i].checked"
               (change)="onCheckboxChange(formControl)"
        />
        <span class="lz_locale_flag" *ngIf="userProjectLocales[i].emoji">{{ userProjectLocales[i].emoji }}</span>
        <span class="lz_locale_language" *ngIf="userProjectLocales[i].lang">{{ userProjectLocales[i].lang }}</span>
        <span class="lz_locale_country" *ngIf="userProjectLocales[i].country"
              title="{{ userProjectLocales[i].country }}">{{ userProjectLocales[i].country }}</span>
        <span class="lz_locale_language" *ngIf="!userProjectLocales[i].emoji">
            <span class="lz_locale_code">{{ userProjectLocales[i].keyCode }}</span>
          {{ userProjectLocales[i].name }}
          </span>
      </label>
    </ng-container>
  </div>

  <div class="lc-form-control mt-4" *ngIf="!isOnlyLanguagesList">
    <label class="lc-form-control-label">Project role</label>
    <div *ngFor="let userRole of userRoles; let i = index" class="lz_section_variant">
      <input type="radio" id="user_role_{{ i }}" value="{{ userRole.value }}"
             [checked]="userRole.active" class="rounded text-indigo-500"
             (change)="onUserModelChange(userRole)">
      <label for="user_role_{{ i }}">
        <span class="text-sm font-bold ml-2">{{ userRole.name }}</span>
        <span class="text-sm"> - {{ userRole.description }}</span>
      </label>
    </div>
  </div>
</div>
