.lz_check_all {
  display: flex;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 15px 2px 0;
  input {
    margin: 0 3px;
  }
}
.lz_available_locale_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .lz_available_locale {
    position: relative;
    flex: 1 1 33.3%;
    white-space: nowrap;
    //overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 15px 2px 0;
    .lz_locale_flag {
      font-size: 13px;
      padding-left: 17px;
      margin-left: 2px;
    }
    .lz_locale_language {
      font-size: 11px;
      font-weight: bold;
      .lz_locale_code {
        margin-left: 19px;
        font-size: 9px;
        background-color: #27ae60;
        color: #fff;
        padding: 0 3px 0 3px;
        border-radius: 2px;
        text-transform: uppercase;
      }
    }
    .lz_locale_country {
      font-size: 11px;
      margin-left: 3px;
    }
    input[type="checkbox"] {
      position: absolute;
      top: 6px;
      //left: 3px;
      margin-right: 3px;
    }
  }
}
