<div class="container" *ngIf="projectsOwned || projectsShared">
  <div class="lz_projects_wrapper">
    <h2 class="lz_h_bordered">Projects</h2>

    <button (click)="onProjectAddClick()">Add new</button>

    <div class="lz_list" *ngIf="projectsOwned.length">
      <h5 class="lz_h_bordered">Your Projects</h5>
      <a href="javascript:;" (click)="onProjectClick($event, project)"
         *ngFor="let project of projectsOwned"
         class="lz_list_item lz_list_item_link" fxLayout fxLayoutAlign="space-between stretch">
        <div class="lz_project_name_description">
          <div class="lz_p_title">{{ project.title }}</div>
          <div class="lz_p_description">{{ project.description }}</div>
          <div class="lz_p_latest_update" fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{ project.latestUpdatedAtFormatted }}</div>
            <div class="lz_p_users_list">
              <ng-container *ngFor="let user of project.sharedUsers">
                <span *ngIf="user.name; else email">{{ user.name }}</span>
                <ng-template #email>
                  <span>{{ user.email }}</span>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="lz_list_item_controls" fxLayout fxLayoutAlign="space-around start">
          <a href="javascript:;" class="lz_download">
            <svg class="icon lz_download_svg">
              <use xlink:href="#download"></use>
            </svg>
          </a>
          <a href="javascript:;" class="lz_settings">
            <svg class="lz_settings_svg">
              <use xlink:href="#settings"></use>
            </svg>
          </a>
          <a href="javascript:;" class="lz_remove">
            <svg class="lz_remove_svg">
              <use xlink:href="#recycle_bin"></use>
            </svg>
          </a>
        </div>
      </a>
    </div>

    <div class="lz_list" *ngIf="projectsShared.length">
      <h5 class="lz_h_bordered">Projects shared with You</h5>
      <a href="javascript:;" (click)="onProjectClick($event, project)"
         *ngFor="let project of projectsShared"
         class="lz_list_item lz_list_item_link" fxLayout fxLayoutAlign="space-between stretch">
        <div class="lz_project_name_description">
          <div class="lz_p_title">{{ project.title }}</div>
          <div class="lz_p_description">{{ project.description }}</div>
          <div class="lz_p_latest_update" fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{ project.latestUpdatedAtFormatted }}</div>
            <div class="lz_p_users_list">
              <ng-container *ngFor="let user of project.sharedUsers">
                <span *ngIf="user.name; else email">{{ user.name }}</span>
                <ng-template #email>
                  <span>{{ user.email }}</span>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="lz_list_item_controls" fxLayoutAlign="space-around start">
          <a href="javascript:;" class="lz_download" style="margin-right: 0">
            <svg class="icon lz_download_svg">
              <use xlink:href="#download"></use>
            </svg>
          </a>
        </div>
      </a>
    </div>
  </div>
</div>

<app-sprite></app-sprite>
