.lz_projects_wrapper {
  .lz_list {
    margin-top: 15px;
    .lz_list_item {
      &.lz_list_item_link {
        padding: 15px 15px;
        display: block;
        width: 100%;
        color: #5d5d5d;
        text-decoration: none;
        &:hover {
          color: #000000;
        }
      }
      .lz_list_item_controls {
        display: flex;
        text-align: right;
        .lz_settings {
          display: block;
          margin-right: 10px;
          svg {
            width: 18px;
            height: 18px;
          }
        }
        .lz_download {
          display: block;
          margin-right: 10px;
          svg {
            width: 18px;
            height: 18px;
          }
        }
        .lz_remove {
          display: block;
          svg {
            width: 18px;
            height: 18px;
          }
        }
        svg {
          &.lz_settings_svg {
            fill: #7e7e7e;
            &:hover {
              fill: #000000;
            }
          }

          &.lz_download_svg {
            fill: #7e7e7e;
            &:hover {
              fill: #000000;
            }
          }

          &.lz_remove_svg {
            fill: #7e7e7e;
            &:hover {
              fill: #c0392b;
            }
          }
        }
      }
    }
  }
}
