.lz_tags_list_container {
  padding-top: 3px;
  display: flex;
  place-content: center flex-start;
  align-items: center;
  flex-wrap: wrap;
  .lz_tag_item {
    height: 23px;
    padding: 5px 5px;
    font-size: 11px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 23px;
    white-space: nowrap;
  }
}
