.lz_modal_confirm_wrapper {
  .lz_modal_confirm_deletion {
    margin-top: 15px;
  }
  .lz_modal_confirm_actions {
    margin-top: 25px;
    text-align: center;
    .lz_action_yes {
      margin-left: 15px;
    }
  }
}
