<form [formGroup]="exportAssetsForm">
  <h1 class="mb-2">Export assets</h1>

  <div mat-dialog-content>
    <div class="lc-form-control">
      <label for="s_locales" class="lc-form-control-label">Locales</label>
      <input type="text" id="s_locales" class="lc-input" autocomplete="off" placeholder="">
    </div>

    <label for="s_file_formats">File format</label>
    <select name="" id="s_file_formats">
      <option *ngFor="let fileType of fileTypes" value="{{ fileType.value }}">{{ fileType.name }}</option>
    </select>
  </div>

  <div class="flex flex-row justify-end">
    <button type="button" mat-dialog-close class="lc-btn-standard">Close</button>
    <button type="submit" (click)="onExportAssetsClick()" class="lc-btn-standard ml-2">Download</button>
  </div>
</form>
