<form [formGroup]="exportAssetsForm">
  <div mat-dialog-title>Export assets</div>

  <div mat-dialog-content>
    <div class="lz_form_control">
      <div fxLayout>
        <label for="s_locales">Locales:</label>
        <input type="text" id="s_locales" autocomplete="off" placeholder="">
      </div>
    </div>

    <br>
    <label for="s_file_formats">File format:</label>
    <select name="" id="s_file_formats">
      <option *ngFor="let fileType of fileTypes" value="{{ fileType.value }}">{{ fileType.name }}</option>
    </select>
  </div>

  <div mat-dialog-actions>
    <button mat-dialog-close>Close</button>
    <button type="submit" (click)="onExportAssetsClick()">Download</button>
  </div>
</form>
