<div class="my-2">
  <button (click)="onAddTranslationClick()" class="lc-btn-standard">
    Add translation
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 ml-1">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
    </svg>
  </button>
  <button (click)="onExportTranslationsClick()" class="lc-btn-standard ml-2">
    Export
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-1">
      <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </button>
  <button (click)="onImportTranslationsClick()" class="lc-btn-standard ml-2" disabled>
    Import
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-1">
      <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
    </svg>
  </button>
</div>
<h5>
  <span class="lz_p_current_locale">
    <span class="lz_translations_label">Translations in: </span>
    <span class="lz_language">{{ activeLocaleObj.lang }}</span>
    <span class="lz_country">{{ activeLocaleObj.country }}</span>
    <span class="lz_flag">{{ activeLocaleObj.emoji }}</span>
  </span>
  <em style="font-size: 9px">translationsLoading$: {{ translationsLoading$ | async }}</em>
  <em *ngIf="translationUpdating$ | async">updating...</em>
  <br>
  <app-translations-controls-bar></app-translations-controls-bar>
</h5>
<div class="lz_list" style="padding: 0; border-top: 1px solid lightgrey">
  <ng-container>
  <a href="javascript:;" [ngClass]="{'lz_opened': currentClickedElementId === i}"
     *ngFor="let translation of (translationsData$ | async); let i = index"
     class="lz_list_item lz_list_item_link lz_translation lz_clickable"
     (click)="onTranslationEditClick($event, translation, i);">
      <span fxLayout fxLayoutAlign="space-between start" class="lz_clickable">
        <span class="lz_project_name_description lz_clickable">
          <span class="lz_p_title lz_clickable" *ngIf="translation.translations[activeLocale]; else noTranslation">
            {{ translation.translations[activeLocale] }}
          </span>

          <ng-template #noTranslation>
            <span class="lz_p_needs_translation lz_clickable">*requires translation*</span>
          </ng-template>

          <span class="lz_p_latest_update lz_clickable" fxLayout>
            <span class="lz_clickable">{{ translation.latestUpdatedAtFormatted }}</span>

            <ng-container *ngIf="translation.updatedBy && userId">
              <span *ngIf="translation.updatedBy.id === userId; else updatedByOther" class="lz_clickable">
                &nbsp;by
                <b class="lz_clickable">you</b>
              </span>
            </ng-container>

            <ng-template #updatedByOther>
              <span class="lz_clickable">&nbsp;by
                <b class="lz_clickable">
                  {{ translation.updatedBy.name ? translation.updatedBy.name : translation.updatedBy.email }}
                </b>
              </span>
            </ng-template>
          </span>
        </span>

        <div class="lz_list_item_controls" fxLayout>
          <a href="javascript:;" class="lz_settings">
            <svg class="lz_settings_svg">
              <use xlink:href="#settings"></use>
            </svg>
          </a>
          <a href="javascript:;" class="lz_remove">
            <svg class="lz_remove_svg">
              <use xlink:href="#recycle_bin"></use>
            </svg>
          </a>
        </div>
      </span>
    <ng-container #translationEditor></ng-container>
  </a>
  </ng-container>
</div>

<app-sprite [spriteKey]="'controls'"></app-sprite>
