.lz_list {
  overflow: auto;
  height: calc(100% - 100px);
  .lz_p_current_locale {
    display: flex;
    place-content: center flex-start;
    align-items: center;
    padding: 10px 0;
    font-size: 12px;
    span {
      display: inline-block;
    }
    .lz_translations_label {
      margin-right: 3px;
    }
    .lz_language {
      font-weight: bold;
      color: #000000;
    }
    .lz_country {
      margin-left: 3px;
    }
    .lz_flag {
      font-size: 17px;
      margin-left: 5px;
    }
  }
  .lz_project_name_description {
    .lz_p_title {
      display: block;
    }
    .lz_p_latest_update {
      &:before {
        top: 6px !important;
      }
    }
    .lz_p_needs_translation {
      display: inline-block;
      font-size: 13px;
      color: #e67e22;
    }
  }
}
