<button (click)="onAddTranslationClick()">Add Translation</button>
<button (click)="onExportTranslationsClick()" style="margin-left: 7px">Export</button>
<button (click)="onImportTranslationsClick()" style="margin-left: 7px">Import</button>
<h5>
  <span class="lz_p_current_locale">
    <span class="lz_translations_label">Translations in: </span>
    <span class="lz_language">{{ activeLocaleObj.lang }}</span>
    <span class="lz_country">{{ activeLocaleObj.country }}</span>
    <span class="lz_flag">{{ activeLocaleObj.emoji }}</span>
  </span>
  <em style="font-size: 9px">translationsLoading$: {{ translationsLoading$ | async }}</em>
  <em *ngIf="translationUpdating$ | async">updating...</em>
  <br>
  <app-translations-controls-bar></app-translations-controls-bar>
</h5>
<div class="lz_list" style="padding: 0; border-top: 1px solid lightgrey">
  <ng-container>
  <a href="javascript:;" [ngClass]="{'lz_opened': currentClickedElementId === i}"
     *ngFor="let translation of (translationsData$ | async); let i = index"
     class="lz_list_item lz_list_item_link lz_translation lz_clickable"
     (click)="onTranslationEditClick($event, translation, i);">
      <span fxLayout fxLayoutAlign="space-between start" class="lz_clickable">
        <span class="lz_project_name_description lz_clickable">
          <span class="lz_p_title lz_clickable" *ngIf="translation.translations[activeLocale]; else noTranslation">
            {{ translation.translations[activeLocale] }}
          </span>

          <ng-template #noTranslation>
            <span class="lz_p_needs_translation lz_clickable">*requires translation*</span>
          </ng-template>

          <span class="lz_p_latest_update lz_clickable" fxLayout>
            <span class="lz_clickable">{{ translation.latestUpdatedAtFormatted }}</span>

            <ng-container *ngIf="translation.updatedBy && userId">
              <span *ngIf="translation.updatedBy.id === userId; else updatedByOther" class="lz_clickable">
                &nbsp;by
                <b class="lz_clickable">you</b>
              </span>
            </ng-container>

            <ng-template #updatedByOther>
              <span class="lz_clickable">&nbsp;by
                <b class="lz_clickable">
                  {{ translation.updatedBy.name ? translation.updatedBy.name : translation.updatedBy.email }}
                </b>
              </span>
            </ng-template>
          </span>
        </span>

        <div class="lz_list_item_controls" fxLayout>
          <a href="javascript:;" class="lz_settings">
            <svg class="lz_settings_svg">
              <use xlink:href="#settings"></use>
            </svg>
          </a>
          <a href="javascript:;" class="lz_remove">
            <svg class="lz_remove_svg">
              <use xlink:href="#recycle_bin"></use>
            </svg>
          </a>
        </div>
      </span>
    <ng-container #translationEditor></ng-container>
  </a>
  </ng-container>
</div>

<app-sprite [spriteKey]="'controls'"></app-sprite>
