<form [formGroup]="inviteUserForm" (submit)="onUserInviteClick()">
  <h1 class="mb-2">Invite user to project, <b>{{ data.projectTitle }}</b></h1>

  <div class="lz_invite_user_information_wrapper">
    <div class="lz_user_avatar"></div>
    <div class="lz_user_information">
      <div class="lz_user_name">New User</div>
      <div class="lz_user_email">
      </div>
      <div class="lz_user_role"></div>
    </div>
  </div>

  <app-available-languages-list #languagesList
                                [userProjectLocales]="data.userProjectLocales"
                                (listChangeEventEmit)="onListChangeEventEmit($event)"></app-available-languages-list>

  <div class="lc-form-control mt-2"
       [ngClass]="{'not-valid': (emailField.dirty || emailField.touched) && emailField.hasError('required')}">
    <label for="s_user_email" class="lc-form-control-label">User email</label>
    <input type="text" id="s_user_email" formControlName="email" class="lc-input" autocomplete="off" placeholder="">
    <div class="lc-form-control-error-message"
         *ngIf="(emailField.dirty || emailField.touched) && emailField.hasError('required')">
      Email is required.
    </div>
  </div>

  <br>
  <div class="flex flex-row justify-end">
    <button type="button" mat-dialog-close class="lc-btn-standard">Cancel</button>
    <button type="submit" [disabled]="inviteUserForm.invalid" class="lc-btn-standard ml-2">Invite user</button>
  </div>
</form>
