<form [formGroup]="projectAddForm" (submit)="onProjectAddFormSave()">
  <h1 mat-dialog-title>Create new project</h1>
  <div class="lz_form_control">
    <div fxLayout>
      <label for="s_project_name">Project name:</label>
      <input type="text" id="s_project_name" formControlName="title" autocomplete="off" placeholder="e.g. My website">
    </div>
    <div class="lz_error_message" *ngIf="(titleField.dirty || titleField.touched) && titleField.hasError('required')">
      Project name is required.
    </div>
  </div>

  <div class="lz_form_control">
    <div fxLayout>
      <label for="s_project_description">Description:</label>
      <input type="text" id="s_project_description" formControlName="description" autocomplete="off">
    </div>
  </div>

  <!--<div>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Default locale" formControlName="defaultLocale" autocomplete="off">-->
      <!--<mat-error *ngIf="projectAddForm.controls['defaultLocale'].hasError('required')">-->
        <!--defaultLocale is required.-->
      <!--</mat-error>-->
      <!--<mat-hint>The language you are translating from.</mat-hint>-->
    <!--</mat-form-field>-->
  <!--</div>-->

  <div class="lz_form_control">
    <div fxLayout>
      <label for="s_project_default_locale">Default locale:</label>
      <ng-select formControlName="defaultLocale"
                 [items]="localesDataTransformed"
                 [multiple]="false"
                 [virtualScroll]="true"
                 [bindLabel]="'filter'"
                 [bindValue]="'keyCode'"
                 [placeholder]="'Start typing a language or country...'"
                 [dropdownPosition]="'top'"
                 [loadingText]="'Loading...'"
                 [loading]="selectDataLoading"
                 [isOpen]="dropdownIsOpen"
                 (search)="onLanguageSearch($event)"
                 (blur)="onCloseSearchBox()"
                 (focus)="onFocusSearchBar($event)"
                 (change)="onChangeSearchBar($event)"
                 (clear)="onClearSearchBar()"
                 labelForId="s_project_default_locale">

        <ng-template ng-option-tmp let-item="item">
          <span class="flag">{{ item.emoji }}</span>
          <span class="text">{{item.value}}</span>
          <span *ngIf="item.type === 'lang'" class="code">{{ item.code }}</span>
        </ng-template>

        <ng-template ng-loadingspinner-tmp>
          <div class="lds-ellipsis" *ngIf="selectDataLoading">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </ng-template>

        <ng-template ng-label-tmp let-item="item">
          <span *ngIf="item.type === 'lang';" class="code">{{ item.code }}</span>
          <span *ngIf="item.type !== 'lang'" class="flag">{{ item.emoji }}</span>
          <span class="value-selected">{{ item.value }}</span>
        </ng-template>
      </ng-select>
    </div>
    <div class="lz_error_message" *ngIf="(defaultLocaleField.dirty || defaultLocaleField.touched) && defaultLocaleField.hasError('required')">
      Default locale is required.
    </div>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="translationsLocales" formControlName="translationsLocales" autocomplete="off">
      <mat-error *ngIf="projectAddForm.controls['translationsLocales'].hasError('required')">
        translationsLocales is required.
      </mat-error>
      <mat-hint>The languages you are translating to.</mat-hint>
    </mat-form-field>
  </div>

  <button [disabled]="!projectAddForm.valid" style="margin-left: 10px">Save</button>
  <button class="lz_button_light" mat-dialog-close>Cancel</button>
</form>
