<form [formGroup]="translateForm" (submit)="onSaveTranslation()">
  <div style="border: 1px solid">

    <select #t formControlName="editInLanguage" (ngModelChange)="onLanguageEditChange(t.value)">
      <option *ngFor="let item of translation.translations | keyvalue"
              [attr.data-test]="item.value"
              [ngValue]="item.value"
              [value]="item.key" [innerHtml]="item.key"></option>
    </select>

    <br>
    <textarea formControlName="translation" name="" id="" cols="30" rows="10"></textarea>

    <br>
    <button type="submit">Save</button>
  </div>
</form>
