<form [formGroup]="translateForm" (submit)="onSaveTranslation()">
  <div style="border: 1px solid">

    <select name="" id="" #t formControlName="editInLanguage" (ngModelChange)="onLanguageEditChange(t.value)">
      <option *ngFor="let item of translation.translations | keyvalue" [value]="item.key">{{ item.key }}</option>
    </select>

    <br>
    <textarea formControlName="translation" name="" id="" cols="30" rows="10"></textarea>

    <br>
    <button type="submit">Save</button>
  </div>
</form>
